<div class="container" >
    <div class="row">
        <div class="col-md-12">
            <h1 class="justify text-center mt-5"> ProductApp</h1>
        
        </div>
    </div>
    <!-- <hr> -->
    <div class="row mt-5" >
        <div class="col-md-4 border mt-3">
            <h1 class="text-center fs-1"><i class="bi bi-person fs-1"></i></h1>
            <h3 class="text-center">User</h3>
            <p> User can see all approved products in the home section and user can add the product, edit the product information and delete the product. user can not go to users 
                tab where show all users.that mean user can not see users.
            </p>
        </div>
        <div class="col-md-4 border mt-3">
            <h1 class="text-center fs-1 "><i class="bi bi-person fs-1"></i></h1>

            <h3 class="text-center">Manager</h3>
            <p>Manager can see the all products who are approved and products who need to be approve and users who are available. Manager can not do to create update and delete the 
                user and products.
            </p>

        </div>
        <div class="col-md-4 border mt-3">
            <h1 class="text-center fs-1"><i class="bi bi-person fs-1"></i></h1>

            <h3 class="text-center"> Admin</h3>
            <p>Admin can access everything. That mean Admin can access home page where all the approved product are show who are approved by the manager and admin can also approve
                the the product, create the product, edit the product delete the product. and Admin can also add delete and update the user.
            </p>
        </div>
    </div>
</div>
