<div class="container mt-2 ">
    <div class="row">
        <div class="col-md-10 mx-auto" *ngIf="!jwt" style="background-image: url('../../../assets/images/home1.jpg'); height: 400px; background-repeat: no-repeat;
        background-size: 100% 100%;">
            <!-- <img src=" ../../../assets/images/home1.jpg" alt=""> -->
        </div>
    </div>

</div>
<h1 class="text-center pt-5  " *ngIf="!jwt">Please Login First <i class="bi bi-person"></i></h1>





<div class="container" *ngIf="jwt">
    
    <h3 class="text-center my-3 ">Products</h3>
    <input type="text" name="name" [(ngModel)]="name" (ngModelChange)="Search()" placeholder="Search By Name....." class="mb-2">
    <table class="table table-hover shadow shadow-lg ">

        <thead>
            <tr>
                <th>Sr.No.</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Status</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of allProducts| paginate:{itemsPerPage:5,currentPage:p};index as j">
                <td>{{(p-1)*5+j+1}}</td>
                <td>{{i.name}}</td>
                <td>{{i.quantity}}</td>
                <td>{{i.price}}</td>
                <td>{{i.status}}</td>
            </tr>

        </tbody>


    </table>
    <div class="pagi text-center">

        <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </div>
</div>