

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 g-0">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2">
        <div class="container-fluid">
          <a class="navbar-brand title" routerLink="/home"> <span>{{title}}</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item " >
                <a class="nav-link "  routerLink="/home" *ngIf="jwt"      routerLinkActive="active">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/products" *ngIf=" jwt"      routerLinkActive="active">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/users" *ngIf="role!='User' &&  jwt"    routerLinkActive="active">Users</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link  " routerLink="/about"  routerLinkActive="active">About</a>
              </li>
            </ul>
            <span> <div class="form-check form-switch">   <input *ngIf="jwt"  class="form-check-input opacity-10 bg-success border border-success" onclick="myFunction()"type="checkbox" role="switch" id="flexSwitchCheckDefault" checked></div></span>
            <span class="navbar-text">
              <button class="p-2  rounded rounded-pill btn-outline-success" *ngIf="!jwt" data-bs-toggle="modal"    data-bs-target="#staticBackdrop"><i class="bi bi-person"></i> login</button>
              <button class="p-2  rounded rounded-pill btn-outline-danger " *ngIf="jwt" (click)="logOut()"><i class="bi bi-person"></i> logout</button>
              
            </span>
          </div>
        </div>
      </nav>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>



<!-- login modal -->
<!-- Modal -->
<div class="modal  fade"  id="staticBackdrop" data-bs-backdrop="static"  data-bs-backdrop="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" width="350">
    <div class="modal-content " >
      <div class="modal-body " >
        <!-- <button type="button" class="btn-close"  id="1" aria-label="Close"></button> -->
        <h3 class="text-center font-weight-bold">Login</h3>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        <div class="">
          <form action="" [formGroup]="logInForm" (ngSubmit)="login()" id="myForm">
            <div class="form-group">
              <label for="UserName">User Name:</label>
              <input type="text" class="form-control" name="UserName" formControlName="userName" >
              <div class="form-text text-danger text-center" *ngIf="UserName.errors?.['required'] && (UserName.touched||UserName.dirty)">
                UserName is required.
            </div>            
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" name="password" formControlName="password">
              <div class="form-text text-danger text-center" *ngIf="Password.errors?.['required'] && (Password.touched||Password.dirty)">
                    Password is required.
                </div>
                <div class="form-text text-danger text-center" *ngIf="Password.errors?.['minlength'] || Password.errors?.['maxlength'] && (Password.touched||Password.dirty)">
                    minimum 6 and maximum 15.
                </div>
            </div>
           
            <div class="form-group mt-2">  
              <button type="submit"  class="btn btn-outline-success form-control" [disabled]="logInForm.invalid" data-bs-dismiss="modal" >login</button>
            </div>
          </form>
        </div>
      </div>
      
    </div>
  </div>
</div>
